.landing-page{
    margin-top: 80px;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-page-content h4{
    font-size: 50px;
    font-weight: bold;
    color:rgb(241, 238, 238);
    text-align: center;
    
}

.main-page-content p{
    font-size: 1.5em;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    color:rgb(241, 238, 238);
}
