
.navbar-component{
    top: 0%;
    height: 60px;
    position: fixed;
    background-color:rgba(69, 69, 88,0.7);
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
}

.logo{
    font-family: 'Alata';
    color:#fff;
    font-size: 20px;
    width: 30%;
    line-height: 100px;
    letter-spacing: 5px;
    float: left;
}
.navbar-component ul{
    color:#fff;
    font-family: 'Alata';
    line-height: 100px;
    float: right;
    font-size: 20px;
    display: flex;
    list-style: none;
}

@media(max-width:768px){
    .navbar-component ul{
        display: none;
    }
}

.navbar-component li{
    padding: 0 20px;
}

@media(max-width:768px){
    .burger-div{
        display: block;
    }
}
@media(min-width:768px){
    .burger-div{
        display: none;
    }
}