.navbar-component{
    overflow: hidden;
    position: fixed;
    background-color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
}
.navbar-component ul{
    display: flex;
    list-style: none;
}

@media(max-width:768px){
    .navbar-component ul{
        display: none;
    }
}
.logo{
    color: black;
    padding: 20px 0;
}
.navbar-component li{
    padding: 0 20px;
}

@media(max-width:768px){
    .burger-div{
        display: block;
    }
}
@media(min-width:768px){
    .burger-div{
        display: none;
    }
}